@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply mb-24 text-gray-300 p-0 m-0 ;
}

header {
    @apply bg-gray-800;
}

.fondo{
    min-height: max-content;
    background-image: url(Duki.jpg);
    background-position: center;
     /* background: no-repeat; */
}



.contenedor{
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;

}

.boton1{
    @apply grid grid-cols-1  leading-6 mb-4 mx-auto max-w-fit;
       background-color: rgb(203, 39, 88);
       color:white;
       padding: 5px 15px;
       border-radius:  6px;
       float: right;

       
}
.boton2{
    @apply grid grid-cols-1 text-center leading-6 mb-4 mx-auto max-w-fit;
       background-color: rgb(203, 39, 88);
       color:white;
       padding: 5px 30px;
       border-radius:  6px;
}

.botonesmenu:hover{
    color: rgb(171, 54, 77);

}

.boton3{
    @apply grid grid-cols-1 text-center leading-6 mb-4 mx-auto max-w-full;
    background-color: rgb(203, 39, 88);
    color:white;
    padding: 5px ;
    border-radius:  6px;
}

.mainInfo {

    color: rgb(107 114 128); 
    border: rgb(243, 244, 246);
    border-radius: 10px; 
    border-width: 5px 0px 40px;
    padding: 10px;
    
    background-color: rgb(243, 244, 246);
}
    .org {
    
    @apply grid grid-cols-3 leading-6 mb-4 mx-auto max-w-lg;
    
    }
    
    .org1 {
    
    @apply w-10 h-10 bg-gray-300 text-gray-500 rounded-md;
    }
    .org2 {
    
    @apply-mx-28 -my-1
    }
    .btns{
    
    @apply grid grid-cols-1 text-center leading-3 mx-auto max-w-fit;
    
    background-color: rgb(255, 0, 51);
    
    color: white;
    
    padding: 15px; border-radius: 8px;
    }

  
 .contenedor2{
    background-color: rgb(213, 213, 213);
    margin: auto;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: 100%;
    

 }

    .fila-1 {
      @apply grid grid-cols-6 justify-items-stretch gap-4 text-center leading-10 mb-4 mx-auto max-w-lg px-10;
    }
    .fila {
      @apply grid grid-cols-7 gap-4 text-center leading-10 mb-4 mx-auto max-w-lg;
    }
    
    .asiento {
      @apply cursor-pointer w-10 h-10 bg-gray-200 rounded-md;
    }
    
    .reservado {
      @apply w-10 h-10 bg-blue-500 text-white;
    }
    
    .seleccionado {
      @apply w-10 h-10 bg-red-500 text-white;
    }



    .headT {
        @apply grid grid-cols-1 text-left leading-3 mt-8 mx-auto max-w-lg;
    }
    
    
    .lineas {
        @apply grid grid-cols-2 text-left mt-4 mx-auto max-w-lg;
    }
    
    .lineaT{
        @apply grid grid-cols-1;
    }
    
    .fechas {
        @apply cursor-pointer w-16 h-16 bg-gray-50 text-gray-600 rounded-md;
    }
    
    .fechasI {
        @apply text-center leading-5 mt-3 mx-auto max-w-lg;
    }
    
    .lineaC {
        
    }
    
    .presentaciones {
        @apply mb-8 cursor-pointer w-96 h-48 bg-gray-400 text-gray-500 rounded-md -ml-32;
    }
    
    .pre1 {
        @apply grid grid-cols-1 text-left ml-4 mx-auto max-w-fit;
    }
    
    .pre1-1 {
        @apply grid grid-cols-2 mt-7 text-left; 
     } 
    /* estilos del archivo perfil.html */
   .contenedordebotonesperfil{
     display: flex;
        justify-content: center;
        align-items: center;
   }
    .botonperfil1{
        @apply text-center  max-w-fit;
        background-color: rgb(203, 39, 88);
        color:white;
        padding: 3px ;
        border-radius:  6px;
        margin-top: 150px;
        margin-right: 2px;
       
     }
     .botonperfil2{
        @apply text-center  max-w-fit;
        background-color: rgb(255, 255, 255);
        color:rgb(0, 0, 0);
        padding: 3px ;
        border-radius:  6px;
       margin-top: 150px;
       margin-left: 2px;
     }  
     
     .texto{
        padding-left: 20px;
     }
     .contenedor3{
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    margin: 12px;
    }
    .botondecontenedor3{
        float: right;
        background-color: rgb(203, 39, 88);
        border-radius: 15px;
        padding: 2px;
        padding-left: 6px;
        padding-right: 6px;
        margin: 6px;
    }

    .contenedor4{
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    margin: 12px;
    
    }
    .botondecontenedor4{
        float: right;
        background-color: rgb(203, 39, 88);
        border-radius: 15px;
        padding: 2px;
        padding-left: 6px;
        padding-right: 6px;
        margin: 6px;
    }
/* estilos del archivo tickets.html */

    .botont1{
        @apply grid grid-cols-1 text-center leading-6 mt-3 mb-3 mx-auto max-w-fit;
        background-color: rgb(203, 39, 88);
        color:white;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius:  6px;
    }
    .botont1:hover{
        background-color: rgb(149, 0, 25);
    }
    .botont2{
        @apply grid grid-cols-1 text-center leading-6  mt-3 mb-3 mx-auto max-w-fit;
        background-color: white;
        color:rgb(0, 0, 0);
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius:  6px;
    }

    .botont2:hover{
        background-color: gray;
    }
    .botont3{
        @apply grid grid-cols-1 text-center leading-6  mt-3 mb-3 mx-auto max-w-fit;
        background-color: rgb(255, 255, 255);
        color:rgb(0, 0, 0);
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius:  6px;
    }
    .botont3:hover{
        background-color: gray;
    }
/* checkbox */
    .margen{
        background-color: rgb(255, 255, 255);
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
    }